<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-rQpXLYswNv1C3RvE5Ipq7l3kXspTugCPK8FwFZspf8eJvBEGgoJ1MaZq2M5dvaXG" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    
    <title>FriendLens</title>
   
</head>
<body>
    <nav id="desktop-nav">
        <div class="logo mt-5" style="margin-right: 36%;" >FriendLens -> My Feed </div>
    </nav>
    <div class="wrapper">
        <div class="sidebar">
            <div class="profile">
                <img src="../static/assets/profile.png">
                <h3>Username</h3>
            </div>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}" class="active" >
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                          </svg></span>
                        
                        <span class="item">My Feed</span>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="container">
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
              <img src="../static/assets/Eternals 4K Wallpaper/Eternals-4.jpeg"  width="600" height="400">
          </a>
        </div>

  </div>
</body>
</html>
